<%= render partial: 'help/0help/tema_ayuda/portada' %>

<%= render partial: 'help/0help/tema_ayuda/init_elementos' %>

</br></br>
<h4 class='text-warning text-center'>ADVERTENCIA</h4>
<%#= image_tag 'Proyecto ID.jpg', class: "mx-auto d-block" %>
<h6 class='text-warning text-center'>El dispositivo de traducci칩n autom치tica de su navegador produce efectos que distorsionan los datos de nuestra colecci칩n, recomendamos su desactivaci칩n.</h6>
</br>
