<div class='row'>
	<div class='col-md-4'>
		<%= render partial: '0p/sidelist/sidelist', locals: {name_list: 'Ingreso Datos Anuales', link: '/recursos/ingreso_datos_anuales'} %>
	</div>
	<div class='col-md-8'>
		<h5 class='text-info'><%= @t %></h5>
	</div>
</div>
