<p id="notice"><%= notice %></p>

<p>
  <strong>Publico objetivo:</strong>
  <%= @publico_objetivo.publico_objetivo %>
</p>

<%= link_to 'Edit', edit_publico_objetivo_path(@publico_objetivo) %> |
<%= link_to 'Back', publico_objetivos_path %>
